<div class="container">
    <h2>{{ isEditMode ? 'Edit Product' : 'Add New Product' }}</h2>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" [(ngModel)]="product.name" name="name" required>
        </div>
        <div class="form-group">
            <label for="productionTime">Production Time (hours)</label>
            <input type="number" id="productionTime" [(ngModel)]="product.productionTime" name="productionTime"
                required>
        </div>
        <div class="form-group">
            <label for="cost">Cost</label>
            <input type="number" id="cost" [(ngModel)]="product.cost" name="cost" required>
        </div>
        <div class="form-group">
            <label for="stock">Stock</label>
            <input type="number" id="stock" [(ngModel)]="product.stock" name="stock" required>
        </div>

        <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>
        <button type="button" class="cancel" (click)="onCancel()">Cancel</button>
    </form>
</div>